


    <script>
        $(document).ready(function(){
            $.ajax({

                url: '/user/welcomeUser' ,
                data: '',
                type: 'POST',
                dataType: 'json',
                xhrFields: {
                    withCredentials: true
                },
                success: function (dataR) {
                    //a href="javascript:void(0);" onclick="js_method()"
                    var loginState=dataR[0].code
                    if(loginState==200){
                        console.log(dataR[0].text)
                        $('#loginState').html(
                            `



                    <li style="margin-top: -6px" class="navbar-brand dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    欢迎您： ${dataR[0].text}
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu ">
                    <li><a href="javascript:void(0);" onclick="myCollect()">我的收藏</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:void(0);" onclick="beBoss()">我要当老板</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:void(0);" onclick="logout()">登出</a></li>
                </ul>
            </li>
                    `
                        )
                    }
                    else{
                        console.log('没有登陆过')
                        $('#loginState').html(`
                    <li class="navbar-brand text-white" ><a id="login" href="javascript:void(0);"  onclick="js_method1()"><span class="glyphicon glyphicon-log-in"></span>登陆</a></li>
                    <li class="navbar-brand text-white"><a id="reg" href="javascript:void(0);"  onclick="js_method2()"><span class="glyphicon glyphicon-user"></span>注册</a></li>

                `)
                    }
                },
                error: function (xhr, status, error) {
                    alert('Error: ' + error.message);
                }
            })


        })
        var logout=function(){
            $.ajax({
                url: '/user/logout' ,
                data: '',
                type: 'GET',
                xhrFields: {
                    withCredentials: true
                },
                success: function (dataR) {
                    //console.log(dataR[0])
                    if(dataR[0].code==200){
                        console.log('登出成功')
                        window.location.href="/selectAll.html"

                    }
                },
                error: function (xhr, status, error) {
                    alert('Error: ' + error.message);
                }
            });
        }
        var js_method1=function() {
            window.location.href="http://localhost:8081/user_login.html"
        }
        var js_method2=function() {
            window.location.href="http://localhost:8081/user_Reg.html"
        }

        var myCollect=function(){
            console.log('123')
        }
        var beBoss=function () {
            console.log('456')
        }

    </script>

<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand text-white"  style="color: white;margin-top: 3px" href="#"><span><img src="../ico/icon.png" style="width: 25px;height: 25px;margin-right: 10px"></span>Hungary Restaurant</a>
        </div>
        <ul id="loginState" class="nav navbar-nav navbar-right" style="margin-top: -5px">

        </ul>
    </div>
</nav>


