<h1>read ME</h1>
<ol>
    <li>readme，把所有用到的问题、解决方案、一些技术上的亮点放在写在readme.html这个文件内，通过ajax得到</li>
    <li>这个项目是我的硕士时期的重构项目，当时也是一个类似"大众点评"的项目，给了我很多灵感，也是最终让我走上前端这条路的项目</li>
    <li>后端：epxress，数据库用的是mysql，实际我也有用mongodb的能力，数据库存放的都是基本数据类型，毕竟在自己电脑上搭建服务器，不舍得放太多图片、二进制内容到数据库中</li>
    <li>session: 尽量少的用cookie，全栈开发用的session来保存用户的登陆状态</li>
    <li>reactJS:因为这个项目是我个人学习、为找工作所准备的项目，把最复杂的页面用react来写了，实际上完全没要必要，在线引入了react的依赖，造成连接速度非常慢，但是react确实解决了很多问题，也达到了我"炫技"的目的</li>
    <li>百度地图：在好几个页面用到了百度地图的api，包括地点标注、路线、导航</li>
    <li>video：用promise实现的h5实时调用摄像头，点击发布后可以同时把拍摄的照片保存到，最多拍摄两张照片，并最终存放最后拍摄的两张照片，符合用户的使用习惯</li>
    <li>websocket:在饭店详情页面开启对话框，用websocket实现顾客们实时通信，</li>
    <li>饭店的详情元素中显示评价，评价的列表中可以显示文本信息和图片</li>
    <li>视差滚动：主页面用的是视差滚动，重构了一个github上非常著名的前端项目，刚做出来的时候觉得非常酷炫，但是后来视差背景逐渐被内容遮盖了</li>
    <li>在selectAll的渲染时，如果饭店的名字的长度大于12，截取，以。。。代替，</li>
    <li>详情页面react，下面的画廊是动态生成的，点击任意一个照片的缩略图后再上面就会显示相应的详细图</li>
    <li>六角形评分：用css做的六角形，五个六角形属于同一个class，鼠标移动到任意一个六角形上后该六角形会变成红色，点击红色的六角形会变成红色，点击评论的时候会先遍历整个类，统计一共几个红色的六角形，发给后台</li>
    <li>restaurant_main：模仿抖音的pc端页面以全屏gif作为背景图</li>
    <li>restaurant_add:页面模仿apple，以简单的表单、动画和固定的图片背景为主</li>
    <li>在restaurant_add页面，老板可以上传图片到服务器，最多可以上传三张图，三张图放在本地项目的image文件夹下。
        实现这个功能前端需要：首先，《form》中要设置enctype="multipart/form-data"，第二：选择文件的input标签需要加上multiple属性，
        第二，后端需要用到一个插件叫formidable，
        最终的效果是把照片存在项目文件夹下，然后把图片的位置存在数据库中
    </li>
    <li>
        居中对其方式：
        vertical-align：
        适用于：1 表格中 取值top/middle/bottom
        2，图片与两边文字的垂直对其方式（给img用），取值：top/middle/bottom/baseline

    </li>
</ol>


