<!DOCTYPE html>
<html lang="en">
<head>


    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
        body, html{z-index:0;text-align:center;width: 100%;height: 100%;margin:0;font-family:"微软雅黑";font-size:14px;}
        #l-map{height:300px;width:100%;z-index: 0;}
        #r-result{width:30%;}
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=qrhNFqczeMX2TmyyvvbGXAhkobZcdDvF"></script>
    <title>添加饭店</title>
</head>
<body>


<h2>新建饭店</h2>

<form method="post" action="/restaurant/addRestaurant" enctype="multipart/form-data">

    饭店名称
    <input type="text" name="resName">
    类型、主打菜品
    <input type="text" name="resType">
    老板
    <input type="text" name="resBoss">
    图片
    <input type="file" name="picture">
    经度
    <input id="longitude" type="text" name="longitude" value="">
    纬度
    <input id="latitude" type="text" name="latitude" value="">
    均价
    <input type="text" name="price">


    <input type="submit">


</form>






<div style="text-align:center;margin-left:25%;width: 50%;margin-bottom:-15px;height: 50px; z-index: 100;background-color: red">
    <div id="r-result"><input type="text" id="suggestId" size="20" value="百度" style="width:150px;" /></div>
</div>
<div style="margin-left: 25%;width: 50%;height:300px">

    <div id="l-map">
    </div>
</div>

<div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>


</body>
<script type="text/javascript">
    // 百度地图API功能
    function G(id) {
        return document.getElementById(id);
    }

    var map = new BMap.Map("l-map");
    var point = new BMap.Point(116.404, 39.915);
    map.centerAndZoom(point, 12);                 // 初始化地图,设置城市和地图级别。
    map.enableScrollWheelZoom()


    function showInfo(e){
       // alert(e.point.lng + ", " + e.point.lat);
        map.clearOverlays();

        var lng=e.point.lng;
        var lat=e.point.lat;
        lng=parseFloat(lng);
        lat=parseFloat(lat)


        var marker = new BMap.Marker(new BMap.Point(lng, lat));

        map.addOverlay(marker);


        var lngVal=G("longitude")
        var latVal=G("latitude")
        lngVal.value=lng
        latVal.value=lat
        //map.setCenter(new BMap.point(lngVal,latVal))
        map.setZoom(14)


    }
    map.addEventListener("click", showInfo);



    var ac = new BMap.Autocomplete(    //建立一个自动完成的对象
        {"input" : "suggestId"
            ,"location" : map
        });

    ac.addEventListener("onhighlight", function(e) {  //鼠标放在下拉列表上的事件
        var str = "";
        var _value = e.fromitem.value;
        var value = "";
        if (e.fromitem.index > -1) {
            value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
        }
        str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;

        value = "";
        if (e.toitem.index > -1) {
            _value = e.toitem.value;
            value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
        }
        str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
        G("searchResultPanel").innerHTML = str;
    });

    var myValue;
    ac.addEventListener("onconfirm", function(e) {    //鼠标点击下拉列表后的事件
        var _value = e.item.value;
        myValue = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
        G("searchResultPanel").innerHTML ="onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue;

       console.log(_value)

        setPlace();
    });

    function setPlace(){
        map.clearOverlays();    //清除地图上所有覆盖物
        function myFun(){
            var pp = local.getResults().getPoi(0).point;    //获取第一个智能搜索的结果
            map.centerAndZoom(pp, 18);
            map.addOverlay(new BMap.Marker(pp));    //添加标注
        }
        var local = new BMap.LocalSearch(map, { //智能搜索
            onSearchComplete: myFun
        });
        map.setZoom(12)
        local.search(myValue);
    }
</script>
</html>
