<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" href="../ico/icon.png">
    <link rel="stylesheet" href="../css/user_reg.css">
</head>
<body>

<div id="login-box">
    <div class="left">
        <h1>user sign in(注册)</h1>

            <form method="post" action="/user/registered">
                <input type="text" name="userNickName" placeholder="用户名"><br>
                <input type="text" name="userPhone" placeholder="手机号"><br>
                <input type="text" name ="userPassowrd" placeholder="密码"><br>
                <input type="text" name="email" placeholder="email"><br>

                <input type="submit">


            </form>


    </div>

    <div class="right">
        <span class="loginwith">Sign in with<br />social network</span>

        <button class="social-signin facebook">Log in with facebook</button>
        <button class="social-signin twitter">Log in with Twitter</button>
        <button class="social-signin google">Log in with Google+</button>
    </div>
    <div class="or">OR</div>
</div>

</body>
</html>
