<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<h2>user sign in(注册)</h2>
<form method="post" action="/user/registered">

    <!--+&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;+-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;+&#45;&#45;&#45;&#45;&#45;&#45;+-&#45;&#45;&#45;&#45;+-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;+-&#45;&#45;&#45;&#45;&#45;&#45;+-->
    <!--| Field        | Type        | Null | Key | Default | Extra |-->
    <!--+&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;+-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;+&#45;&#45;&#45;&#45;&#45;&#45;+-&#45;&#45;&#45;&#45;+-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;+-&#45;&#45;&#45;&#45;&#45;&#45;+-->
    <!--| userID       | int(11)     | YES  |     | NULL    |       |-->
    <!--| userNickName | varchar(20) | YES  |     | NULL    |       |-->
    <!--| userPhone    | varchar(20) | YES  |     | NULL    |       |-->
    <!--| userPassowrd | varchar(20) | YES  |     | NULL    |       |-->
    <!--| isBoss       | int(2)      | YES  |     | NULL    |       |-->
    <!--| identify     | varchar(20) | YES  |     | NULL    |       |-->
    <!--| email        | varchar(20) | YES  |     | NULL    |       |-->
    <!--+&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;+-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;+&#45;&#45;&#45;&#45;&#45;&#45;+-&#45;&#45;&#45;&#45;+-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;+-&#45;&#45;&#45;&#45;&#45;&#45;+-->
    <!---->


    在提交上面应该有验证码或其他的以提高网站安全性，如果注册成功去到一个页面，注册失败重新回到本页面

    用户名<input type="text" name="userNickName"><br>
    手机号<input type="text" name="userPhone"><br>
    密码<input type="text" name ="userPassowrd"><br>
    email<input type="text" name="email"><br>

    <input type="submit">


</form>

</body>
</html>